* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

:root {
  --bg-color: #344E41;
  --div-bg: #588157;
  --txt-color: #DAD7CD;
  --padd-img: #A3B18A;
}

.body__container {
  height: 100vh;
  display: flex;
}

.main {
  max-width: 1400px;
  margin: auto;
  z-index: 6;
}
.main .main__container {
  background: linear-gradient(to left, #588157, #344E41);
  background-size: 200% 100%;
  animation: gradientAnimation 5s ease-in-out infinite;
  border-radius: 10px;
  margin: 0px 50px;
}
.main .main__container .main__container-content {
  background-color: rgba(52, 78, 65, 0);
  padding: 50px;
  display: flex;
}
.main .main__container .main__container-content .content-info {
  width: 30%;
  background-color: var(--div-bg);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.199);
}
.main .main__container .main__container-content .content-info .content-img {
  background-color: rgba(52, 78, 65, 0);
}
.main .main__container .main__container-content .content-info .content-img img {
  width: 90%;
  border-radius: 50%;
}
.main .main__container .main__container-content .content-info .content-about {
  background-color: rgba(52, 78, 65, 0);
  margin-top: 20px;
  text-align: center;
}
.main .main__container .main__container-content .content-info .content-socials {
  background-color: rgba(52, 78, 65, 0);
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main .main__container .main__container-content .content-info .content-socials a {
  background-color: rgba(52, 78, 65, 0);
  font-size: 35px;
  cursor: pointer;
}
.main .main__container .main__container-content .content-info .content-socials a i {
  background-color: rgba(52, 78, 65, 0);
  transition: all 300ms ease-in-out;
}
.main .main__container .main__container-content .content-info .content-socials i:hover {
  color: var(--bg-color);
}
.main .main__container .main__container-content .content-works {
  background-color: rgba(52, 78, 65, 0);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
  padding-left: 30px;
  gap: 10px;
}
.main .main__container .main__container-content .content-works a {
  display: block;
  height: 45%;
  width: 23%;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.main .main__container .main__container-content .content-works .work__mask {
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.main .main__container .main__container-content .content-works a:hover {
  transform: translateY(-60px);
}
.main .main__container .main__container-content .content-works .work__mask:hover {
  transform: scale(1.01);
}
.main .main__container .main__container-content .content-works #mask1 {
  background-image: url(../img/1.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask2 {
  background-image: url(../img/2.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask3 {
  background-image: url(../img/3.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask4 {
  background-image: url(../img/4.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask5 {
  background-image: url(../img/5.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask6 {
  background-image: url(../img/6.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask7 {
  background-image: url(../img/7.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .content-works #mask8 {
  background-image: url(../img/8.jfif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main .main__container .main__container-content .work__text {
  margin-top: -25px;
  text-align: center;
}

.comi {
  z-index: 5;
  position: absolute;
  top: 10%;
  left: 18%;
  border: 1px solid var(--txt-color);
  padding: 5px 7px;
  border-radius: 10px;
  animation: comiSlide 6s ease-in-out infinite;
}
.comi a {
  text-decoration: none;
}

.jojos2 {
  position: absolute;
  bottom: 0;
  right: 0%;
  pointer-events: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@keyframes comiSlide {
  0% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(70px);
  }
}
@media (max-width: 1366px) {
  .comi {
    z-index: 5;
    position: absolute;
    top: 1%;
    left: 18%;
    border: 1px solid var(--txt-color);
    padding: 5px 7px;
    border-radius: 10px;
    animation: comiSlide 6s ease-in-out infinite;
  }
  .comi a {
    text-decoration: none;
  }
  @keyframes comiSlide {
    0% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(50px);
    }
  }
}
@media (max-width: 1090px) {
  .main__container-content {
    flex-direction: column;
  }
  .main__container-content .content-info {
    height: 330px;
    width: 100vw;
  }
  .main__container-content .content-works {
    height: 330px;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */